/* All Common Css Start  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* All Common Css End  */

/* Header Part Start  */

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.nav-link {
    color: #dddd;
    font-weight: 400;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    transition: .4s;
}
.nav-link:hover{
    color: pink;

}
.btn a{
    color: #ffff;
    font-weight: 400;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    padding: 0px 10px;
    transition: .4s;

}
.btn a:hover{
    color: #dddd;
}
.rony{
    margin-right: 5px;
}

/* Header Part End  */

/* Banner Part Start  */
#bannerPart{
    background: url(../images/banner2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 340px;
    padding-bottom: 100px;
    
}
/* Banner Part End  */